body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    /* display: flex; */
    font-family: 'Montserrat', sans-serif;
    /* text-align: center;
    justify-content: center; */
    padding: 150px;
    /* text-align: center; */
}

#divContainer {
    width: 600px;
    height: 300px;
    text-align: center;
}

#sectionUp {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionLeft {
    margin-right: 140px;

}

#currentTempDiv {
    font-size: 70px;

}

#nameDiv {
    font-size: 40px;
}

#iconText {
    font-size: 25px;
}

#sectionDown {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #iconDiv {
    display: inline;
} */